.box:before{
	border-radius: 24px;
	margin-right: 8px;
	content: "\e901";
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	cursor: pointer;
	background-color: transparent;
	border: 1px solid #88889f;
	color: transparent;
	border-radius: 0.25rem;
	line-height: 21.6px;
	text-align: center;
	font-family: "fcon";
	font-size: 0;
	transition: font-size .1s ease;
}
.label{
	font-size: 90% !important; 
	color: #808080 !important;
	display: inline-block;
	margin-bottom: 4px;
	cursor: default;
	
}

.box-input{
  display: none;
}
.box-parts{
  padding-left: 20px;
  position:relative;
  margin-right: 20px;
}
.box-parts::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 4px;
}

.box-input:checked + .box-parts{
  color: #353535;
}
.box-input:checked + .box-parts::after{
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #009a9a;
  border-right: 3px solid #009a9a;
}